<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="mockey" version="2.5">
    <display-name>
        Mockey
    </display-name>
    <servlet>
        <servlet-name>
            MockStartUpServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.StartUpServlet
        </servlet-class>
        <init-param>
            <param-name>
                default.properties
            </param-name>
            <param-value>
                WEB-INF/default.properties
            </param-value>
        </init-param>
        <init-param>
            <param-name>
                log4j.properties
            </param-name>
            <param-value>
                WEB-INF/log4j.properties
            </param-value>
        </init-param>
        <load-on-startup>
            1
        </load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>
            MockHomeServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.HomeServlet
        </servlet-class>
        <load-on-startup>
            1
        </load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>
            MobiServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.MobiServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            MockServiceExportServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.ExportConfigurationServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            MockServiceUploadServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.UploadConfigurationServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            MockServiceScenarioListServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.ScenarioListServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            MockServiceSetupServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.ServiceSetupServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            MockResponseServlet
        </servlet-name>
        <servlet-class>
            com.mockey.server.ResponseServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ScenarioServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.ScenarioServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            HistoryServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.HistoryServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            MockServiceProxyInfoServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.ProxyInfoServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ServicePlanSetupServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.ServicePlanSetupServlet
        </servlet-class>
        <load-on-startup>
            1
        </load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>
            ServiceConfigurationServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.ServiceConfigurationServlet
        </servlet-class>
        <load-on-startup>
            1
        </load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>
            HelpServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.HelpServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            HistoryHtmlServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.HistoryHtmlServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            InspectFulfilledRequestServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.InspectFulfilledRequestServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            InjectRealUrlPerServiceServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.InjectRealUrlPerServiceServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            RedoRequestServlet
        </servlet-name>
        <servlet-class>
            com.mockey.server.RedoRequestServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ConfigurationInfoAJAXServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.ConfigurationInfoAJAXServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ServiceMergeServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.ServiceMergeServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ScenarioViewAjaxServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.ScenarioViewAjaxServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            HistoryAjaxServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.HistoryAjaxServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            LatestHistoryAjaxServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.LatestHistoryAjaxServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ApiDocumentationServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.ApiDocumentationServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            TwistInfoSetupServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.TwistInfoSetupServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            TwistInfoToggleServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.TwistInfoToggleServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            TwistInfoDeleteServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.TwistInfoDeleteServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            StickyCookieSessionAjaxServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.StickyCookieSessionAjaxServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            SearchServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.SearchServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            ServiceDefinitionInfoServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.ServiceDefinitionInfoServlet
        </servlet-class>
        <load-on-startup>
            1
        </load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>
            ConsoleServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.ConsoleServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            FileSystemManagerServlet
        </servlet-name>
        <servlet-class>
            com.mockey.storage.file.FileSystemManagerServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            FileUploadOctetStreamReaderServlet
        </servlet-name>
        <servlet-class>
            com.mockey.storage.file.FileUploadOctetStreamReaderServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            FileDeleteServlet
        </servlet-name>
        <servlet-class>
            com.mockey.storage.file.FileDeleteServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            FileViewServlet
        </servlet-name>
        <servlet-class>
            com.mockey.storage.file.FileViewServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            TagHelperServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.TagHelperServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            LastVisitTagHelperServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.LastVisitTagHelperServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>
            RequestInspectorAjaxServlet
        </servlet-name>
        <servlet-class>
            com.mockey.ui.RequestInspectorAjaxServlet
        </servlet-class>
    </servlet>
    <!--  JSON SCHEMA BEGIN -->
    <servlet>
        <servlet-name>JsonSchemaValidateServlet</servlet-name>
        <servlet-class>com.mockey.ui.JsonSchemaValidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JsonSchemaValidateServlet</servlet-name>
        <url-pattern>/jsonschemavalidate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>validateSyntax</servlet-name>
        <servlet-class>com.github.fge.jsonschema.servlets.SyntaxValidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusServlet</servlet-name>
        <servlet-class>com.mockey.ui.StatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonSchemaLoadSamplesServlet</servlet-name>
        <servlet-class>com.mockey.ui.JsonSchemaLoadSamplesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsForServiceAjaxServlet</servlet-name>
        <servlet-class>com.mockey.ui.StatisticsForServiceAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsForServiceHistoryHtml</servlet-name>
        <servlet-class>com.mockey.ui.StatisticsForServiceHistoryHtml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.mockey.api;org.codehaus.jackson.jaxrs</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.disableMoxyJson.server</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateSyntax</servlet-name>
        <url-pattern>/validateSyntax</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StatisticsForServiceHistoryHtml</servlet-name>
        <url-pattern>/servicestatschart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsForServiceAjaxServlet</servlet-name>
        <url-pattern>/servicestats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonSchemaLoadSamplesServlet</servlet-name>
        <url-pattern>/loadjsonschemasamples</url-pattern>
    </servlet-mapping>
    <!--  JSON SCHEMA END -->
    <servlet-mapping>
        <servlet-name>
            RequestInspectorAjaxServlet
        </servlet-name>
        <url-pattern>
            /requestinspectors
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            LastVisitTagHelperServlet
        </servlet-name>
        <url-pattern>
            /lastvisithelp
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            TagHelperServlet
        </servlet-name>
        <url-pattern>
            /taghelp
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            FileViewServlet
        </servlet-name>
        <url-pattern>
            /viewme
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            FileDeleteServlet
        </servlet-name>
        <url-pattern>
            /deletefile
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            FileUploadOctetStreamReaderServlet
        </servlet-name>
        <url-pattern>
            /uploadoctetstream
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            FileSystemManagerServlet
        </servlet-name>
        <url-pattern>
            /filesysteminfo
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ConsoleServlet
        </servlet-name>
        <url-pattern>
            /console
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ServiceDefinitionInfoServlet
        </servlet-name>
        <url-pattern>
            /definitions
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            SearchServlet
        </servlet-name>
        <url-pattern>
            /search
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            StickyCookieSessionAjaxServlet
        </servlet-name>
        <url-pattern>
            /configuration/reset_sticky_cookie_session
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            TwistInfoDeleteServlet
        </servlet-name>
        <url-pattern>
            /twisting/delete
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            TwistInfoToggleServlet
        </servlet-name>
        <url-pattern>
            /twisting/toggle
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            TwistInfoSetupServlet
        </servlet-name>
        <url-pattern>
            /twisting/setup
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ApiDocumentationServlet
        </servlet-name>
        <url-pattern>
            /service_api
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            HistoryAjaxServlet
        </servlet-name>
        <url-pattern>
            /conversation/record
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            LatestHistoryAjaxServlet
        </servlet-name>
        <url-pattern>
            /conversation/record/latest
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ScenarioViewAjaxServlet
        </servlet-name>
        <url-pattern>
            /view/scenario
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ServiceMergeServlet
        </servlet-name>
        <url-pattern>
            /merge
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ConfigurationInfoAJAXServlet
        </servlet-name>
        <url-pattern>
            /configuration/info
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            RedoRequestServlet
        </servlet-name>
        <url-pattern>
            /doitagain
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            InspectFulfilledRequestServlet
        </servlet-name>
        <url-pattern>
            /inspect
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            InjectRealUrlPerServiceServlet
        </servlet-name>
        <url-pattern>
            /inject
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            HelpServlet
        </servlet-name>
        <url-pattern>
            /help
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ServiceConfigurationServlet
        </servlet-name>
        <url-pattern>
            /service_scenario
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ServiceConfigurationServlet
        </servlet-name>
        <url-pattern>
            /config/service
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ServicePlanSetupServlet
        </servlet-name>
        <url-pattern>
            /plan/setup
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            MockServiceProxyInfoServlet
        </servlet-name>
        <url-pattern>
            /proxy/settings
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            MobiServlet
        </servlet-name>
        <url-pattern>
            /mobi
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            MockHomeServlet
        </servlet-name>
        <url-pattern>
            /home
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            MockHomeServlet
        </servlet-name>
        <url-pattern>
            /index.html
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            HistoryServlet
        </servlet-name>
        <url-pattern>
            /history
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            HistoryHtmlServlet
        </servlet-name>
        <url-pattern>
            /fulfilledrequest
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            MockServiceScenarioListServlet
        </servlet-name>
        <url-pattern>
            /scenariolist
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            MockServiceSetupServlet
        </servlet-name>
        <url-pattern>
            /setup
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            ScenarioServlet
        </servlet-name>
        <url-pattern>
            /scenario
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            MockResponseServlet
        </servlet-name>
        <url-pattern>
            /service/*
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            MockServiceUploadServlet
        </servlet-name>
        <url-pattern>
            /upload/*
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            MockServiceExportServlet
        </servlet-name>
        <url-pattern>
            /export/*
        </url-pattern>
    </servlet-mapping>
    <filter>
        <display-name>EnableCorsFilter</display-name>
        <filter-name>EnableCorsFilter</filter-name>
        <filter-class>com.mockey.server.EnableCorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EnableCorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>
            index.html
        </welcome-file>
        <welcome-file>
            index.jsp
        </welcome-file>
        <welcome-file>
            index.jws
        </welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>
            403
        </error-code>
        <location>
            /WEB-INF/common/fourohthree.jsp
        </location>
    </error-page>
    <error-page>
        <error-code>
            404
        </error-code>
        <location>
            /WEB-INF/common/fourohfour.jsp
        </location>
    </error-page>
    <error-page>
        <error-code>
            500
        </error-code>
        <location>
            /WEB-INF/common/fivehundred.jsp
        </location>
    </error-page>
</web-app>
