body{	padding-top: 0px;	background: #FFFFFF;font: 95% Calibri,sans-serif;}
.big{font-size: 300%; font-weight:bold;}
.tiny{font-size: 80%;}
h1, h2, h3, h4{margin: 0.2em 0 0.2em 0; }
hr{  border: 0;  width: 100%;height: 2px;background-color: #06F;}
h1{ font-size:160%; color: #06F;}
h2 { font-size:140%; color: #06F;}
h3 { font-size:120%; color: #F60;}
h4 {font-size: 100%;	color: black;font-weight: bold;}
img {border:0;}
.highlight{color: #ff0073;}
.highlight_pos{color: #06F;}
.nav{	color: #06F;	text-decoration: none;	font-weight:bold;}
.group {	border: thin dashed #bdbdbd;	margin: 0.8em;	padding: 0.8em;}
form {	padding: 0em 1em 0em 1em;	border: thin solid #bdbdbd;	background-color: #ffff99;}
form#multi_form{	padding: 0.8em;}
ul {	list-style: none;	}
ul li {	margin:0.5em; }
.edit{float:right; margin-top:-1.5em; margin-left:2em;font-size:80%;}
p#action_links{	margin: 0em;	padding: 1em 0.5em 1em 0.5em;	background-color: #f0f8ff;	border-left: thin solid #bdbdbd; border-right: thin solid #bdbdbd; border-top: thin solid #bdbdbd;}
p{margin: 0.5em; padding: 1px;}
a{color: #00F;text-decoration:underline}
a#highlight{font-size:120%;}
div#container{width:950px;margin:0 auto}
div#main{width: 100%;min-width:600px; margin-top: 10px }
div{margin-top: 1px }
div#footer{width: 100%;min-width:600px; margin-top: 10px; border-top: 1px solid #CCC; text-align:left;}
div#logo{text-align: left }
div#logo a{text-decoration: none; color: #06F; }
.spread{margin-left:0.8em;}
span#greentext {font: 12pt Arial;letter-spacing 4pt;color: #00AA00 margin:6px;}
ul#minitabs{list-style: none;margin: 0;padding: 7px 0;  border-bottom: 1px solid #CCC;font-weight: bold;  text-align: center;white-space: nowrap}
ul#minitabs li{display: inline;margin: 0 3px}
ul#minitabs a{text-decoration: none;padding: 0 0 3px;  border-bottom: 4px solid #FFF;color: #999}
ul#minitabs a#current{border-color: #F60;color:#06F}
ul#minitabs a:hover{border-color: #F60;color: #666}
.hint_message, .alert_message, .conflict_message, .addition_message, .info_message {	margin: 0.8em;	padding: 0.8em;	text-align: left;	color: black;	border: thin solid #d3d3d3;}
.hint_message{background-color: #f5f5dc;}
.alert_message{background-color: #7eff00;}
.conflict_message {background-color: #FFD7D7;}
.addition_message {background-color: #7eff00;}
.info_message {	background-color: #7eff00;}
.code {background:#FFFFCC; padding:1em; border:1px solid #CCC; text-align:left; width: 90%;min-width:300px;margin:1em; font-family: Courier,sans-serif;}
.code a{text-align:center;font-size: 1.2em;}
.code span a {font-size: 0.8em; text-decoration: none; color: #f00; }
pre{	background-color: White;	border: 1px solid #666;	color: Black;	margin: 1.5em;	overflow: auto;	font-size: 115%;	padding: 1.2em;	font: 120% "Courier New"; }
div#infotext, div#servicename, div#password {position:relative; float:left; margin-right:1px; background: #EEEEEE; border: none; border-style: none }
.overlabel {color:#999;}
.overlabel-apply {	position:absolute;top:3px;left:5px;	z-index:1;	color:#999;}
label.overlabel {color:#999;}
label.overlabel-apply {	position:absolute;top:3px;left:5px;	z-index:1;	color:#999;}
table.basic {border: thin solid #bdbdbd; background: #f1f1f0;}
table.basic th {padding: 0px;border-style: none;text-align: right;}
table.basic td {border-style: none; padding: 0px;}
table.example {background-color:#E5EECC;background-image:url(images/bgfadegreen.gif);background-repeat:repeat-x;border:1px solid #D4D4D4;color:#000000;padding:8px 10px;}
table.simple{border-collapse: collapse;border-spacing: 0px; }
table.simple th{ border-bottom: 1px inset #DDDDDD; font-weight: bold;padding-left: 8px; }
table.simple td{
	border-bottom: 1px inset #DDDDDD;
	text-align: left;
	font-weight: normal;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 8px;
	padding-right: 0px;
}
.jqifade{
      position: absolute;
      background-color: #aaaaaa;
}
div.jqi{
      width: 400px;      
      position: absolute;
      background-color: #ffffff;      
      text-align: left;
      border: solid 1px #eeeeee;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      padding: 7px;
}
div.jqi .jqicontainer{
      font-weight: bold;
}
div.jqi .jqiclose{
      position: absolute;
      top: 4px; right: -2px;
      width: 18px;
      cursor: default;
      color: #bbbbbb;
      font-weight: bold;
}
div.jqi .jqimessage{
      padding: 10px;
      line-height: 20px;
      color: #444444;
}
div.jqi .jqibuttons{
      text-align: center;
      padding: 5px 0 5px 0;
      border: solid 1px #eeeeee;
      background-color: #f4f4f4;
}
div.jqi button{
      padding: 3px 10px;
      margin: 0 10px;
      background-color: #2F6073;
      border: solid 1px #f4f4f4;
      color: #ffffff;
      font-weight: bold;
}
div.jqi button:hover{
      background-color: #728A8C;
}
div.jqi button.jqidefaultbutton{
      background-color: #F60;
}
.jqiwarning .jqi .jqibuttons{
      background-color: #F60;
}
.js .display { display:none; }