<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.mockey.web.spring"/>

    <!-- Define the aliases for incoming requests -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="*">record</prop>
            </props>
        </property>
    </bean>

    <bean id="record" class="com.mockey.web.spring.AnyPathProxyController">
    </bean>


    <bean id="mockServiceStore" class="com.mockey.MockServiceStoreImpl" factory-method="getInstance">

    </bean>
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/htm/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>