<?xml version="1.0" encoding="UTF-8"?>
<web-app id="mockey" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Mockey</display-name>
	<servlet>
		<servlet-name>MockStartUpServlet</servlet-name>
		<servlet-class>com.mockey.web.MockStartUpServlet</servlet-class>
		<init-param>
			<param-name>default.properties</param-name>
			<param-value>WEB-INF/default.properties</param-value>
		</init-param>
		<init-param>
			<param-name>log4j.properties</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>MockHomeServlet</servlet-name>
		<servlet-class>com.mockey.web.MockHomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockServiceExportServlet</servlet-name>
		<servlet-class>com.mockey.web.MockServiceExportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockServiceUploadServlet</servlet-name>
		<servlet-class>com.mockey.web.MockServiceUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockHistoryPerServiceByIpServlet</servlet-name>
		<servlet-class>com.mockey.web.MockHistoryPerServiceByIpServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockHistoryHtmlServlet</servlet-name>
		<servlet-class>com.mockey.web.MockHistoryHtmlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockServiceScenarioListServlet</servlet-name>
		<servlet-class>com.mockey.web.MockServiceScenarioListServlet</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>MockServiceConfigureServlet</servlet-name>
		<servlet-class>com.mockey.web.MockServiceConfigureServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockServiceSetupServlet</servlet-name>
		<servlet-class>com.mockey.web.MockServiceSetupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockResponseServlet</servlet-name>
		<servlet-class>com.mockey.web.MockResponseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockServiceScenarioServlet</servlet-name>
		<servlet-class>com.mockey.web.MockServiceScenarioServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>MockHistoryPerServiceServlet</servlet-name>
        <servlet-class>com.mockey.web.MockHistoryPerServiceServlet</servlet-class>
    </servlet>	
    <servlet>
        <servlet-name>MockServiceProxyInfoServlet</servlet-name>
        <servlet-class>com.mockey.web.MockServiceProxyInfoServlet</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name>MockServiceProxyInfoServlet</servlet-name>
        <url-pattern>/proxy/settings</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockHomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockHistoryPerServiceServlet</servlet-name>
		<url-pattern>/history/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>MockHistoryPerServiceByIpServlet</servlet-name>
        <url-pattern>/history/detail</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockHistoryHtmlServlet</servlet-name>
		<url-pattern>/checkforhistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockServiceScenarioListServlet</servlet-name>
		<url-pattern>/scenariolist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockServiceSetupServlet</servlet-name>
		<url-pattern>/setup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockServiceScenarioServlet</servlet-name>
		<url-pattern>/scenario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockServiceConfigureServlet</servlet-name>
		<url-pattern>/configure</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockResponseServlet</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>MockServiceUploadServlet</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>MockServiceExportServlet</servlet-name>
		<url-pattern>/export/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.jws</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
		<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>	
</web-app>
