<?xml version="1.0" encoding="UTF-8"?>
<web-app id="mockey" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Mockey</display-name>
	<servlet>
		<servlet-name>MockStartUpServlet</servlet-name>
		<servlet-class>com.mockey.ui.StartUpServlet</servlet-class>
		<init-param>
			<param-name>default.properties</param-name>
			<param-value>WEB-INF/default.properties</param-value>
		</init-param>
		<init-param>
			<param-name>log4j.properties</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>MockHomeServlet</servlet-name>
		<servlet-class>com.mockey.ui.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MobiServlet</servlet-name>
		<servlet-class>com.mockey.ui.MobiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockServiceExportServlet</servlet-name>
		<servlet-class>com.mockey.ui.ExportConfigurationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockServiceUploadServlet</servlet-name>
		<servlet-class>com.mockey.ui.UploadConfigurationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockServiceScenarioListServlet</servlet-name>
		<servlet-class>com.mockey.ui.ScenarioListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockServiceSetupServlet</servlet-name>
		<servlet-class>com.mockey.ui.ServiceSetupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockResponseServlet</servlet-name>
		<servlet-class>com.mockey.server.ResponseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockServiceScenarioServlet</servlet-name>
		<servlet-class>com.mockey.ui.ScenarioServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HistoryServlet</servlet-name>
		<servlet-class>com.mockey.ui.HistoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockServiceProxyInfoServlet</servlet-name>
		<servlet-class>com.mockey.ui.ProxyInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockServicePlanSetupServlet</servlet-name>
		<servlet-class>com.mockey.ui.ServicePlanSetupServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MockServiceScenarioUpdateServlet</servlet-name>
		<servlet-class>com.mockey.ui.ScenarioUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HelpServlet</servlet-name>
		<servlet-class>com.mockey.ui.HelpServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HistoryHtmlServlet</servlet-name>
		<servlet-class>com.mockey.ui.HistoryHtmlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InspectFulfilledRequestServlet</servlet-name>
		<servlet-class>com.mockey.ui.InspectFulfilledRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedoRequestServlet</servlet-name>
		<servlet-class>com.mockey.server.RedoRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RedoRequestServlet</servlet-name>
		<url-pattern>/doitagain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InspectFulfilledRequestServlet</servlet-name>
		<url-pattern>/inspect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelpServlet</servlet-name>
		<url-pattern>/help</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockServiceScenarioUpdateServlet</servlet-name>
		<url-pattern>/service_scenario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockServicePlanSetupServlet</servlet-name>
		<url-pattern>/plan/setup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockServiceProxyInfoServlet</servlet-name>
		<url-pattern>/proxy/settings</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MobiServlet</servlet-name>
		<url-pattern>/mobi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockHomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>MockHomeServlet</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>HistoryServlet</servlet-name>
		<url-pattern>/history</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>HistoryHtmlServlet</servlet-name>
		<url-pattern>/fulfilledrequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockServiceScenarioListServlet</servlet-name>
		<url-pattern>/scenariolist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockServiceSetupServlet</servlet-name>
		<url-pattern>/setup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockServiceScenarioServlet</servlet-name>
		<url-pattern>/scenario</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>MockResponseServlet</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockServiceUploadServlet</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MockServiceExportServlet</servlet-name>
		<url-pattern>/export/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.jws</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>403</error-code>
		<location>/common/fourohthree.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/common/fourohfour.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/common/fivehundred.jsp</location>
	</error-page>
</web-app>
