<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Mockey</title>

    <!-- Bootstrap core CSS -->
    <link href="style/bootstrap.css" rel="stylesheet">
    <link href="style/bootstrap-vue.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style/app.css" rel="stylesheet">
    <link href="style/toggle.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top pickl_bg">
    <a class="navbar-brand" href="#">Mockey</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn-sm btn-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main id="app" role="main">
    <div v-bind:class="{'is-collapsed-dashboard-uber-detail' : collapsed }" v-cloak>
        <div class="container">

            <!-- -->
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="button" class="btn btn-secondary btn-xs" v-on:click=" collapsed = !collapsed">Cancel</button> <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!-- -->



        </div>
    </div>
    <div v-bind:class="{'is-collapsed-dashboard-uber-detail' : !collapsed }" class="pickl_wrapper" v-cloak>
        <div class="pickl_col">
            <h2>Service List</h2>
            <ul class="list-unstyled compact">
                <li v-for="mockservice of mockservices" v-cloak>
                    <p><a href="#" v-on:click=" onMockServiceSelection(mockservice)">{{mockservice.serviceName}}</a> {{mockservice.url}}</p>
                </li>
                <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
                <li>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna.</li>
                <li>Nulla sed leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
                <li>Fusce lacinia arcu et nulla. Nulla vitae mauris non felis mollis faucibus.</li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</li>
                <li>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</li>
                <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
            </ul>
        </div>
        <div class="pickl_col">
            <h2>Scenario List</h2>
            <p><a href="#" class="text-primary" v-on:click=" onMockScenarioCreateForm()">+</a></p>
            <ul class="list-unstyled compact">
                <li v-for="mockscenario of mockscenarios" v-cloak>
                   <p><a href="#" class="text-primary" v-on:click=" onMockScenarioSelection(mockscenario)">{{mockscenario.scenarioName}}</a></p>
                </li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
                <li>Vestibulum auctor dapibus neque.</li>
                <li>Nunc dignissim risus id metus.</li>
                <li>Cras ornare tristique elit.</li>
                <li>Vivamus vestibulum ntulla nec ante.</li>
                <li>Praesent placerat risus quis eros.</li>
                <li>Fusce pellentesque suscipit nibh.</li>
                <li>Integer vitae libero ac risus egestas placerat.</li>
                <li>Vestibulum commodo felis quis tortor.</li>
                <li>Ut aliquam sollicitudin leo.</li>
                <li>Cras iaculis ultricies nulla.</li>
                <li>Donec quis dui at dolor tempor interdum.</li>
            </ul>
        </div>
        <div class="pickl_col">
            <h2>Scenario Detail</h2>
            <div>
                <p>{{mockscenario}}</p>
                <form v-on:submit.prevent   ="onMockScenarioAddAction" action="#" method="post">
                    <input id="id" name="id" type="hidden" v-model="id">
                    <input id="serviceId" name="serviceId" type="hidden" v-model="serviceId">

                    <div class="form-group">
                        <label for="scenarioName">Scenario name</label>
                        <input type="text" class="form-control" id="scenarioName" placeholder="Scenario name" v-model="scenarioName">
                    </div>
                    
                    <div class="form-group">
                        <label for="responseMessage">Response message</label>
                        <textarea class="form-control" id="responseMessage" rows="5" v-model="responseMessage"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" v-on:click="onMockScenarioCreateForm()">Submit</button>
                </form>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
                <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.</p>
                <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula. Integer adipiscing risus a sem. Nullam quis massa sit amet nibh viverra malesuada. Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu. Ut scelerisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante. Vivamus imperdiet nibh feugiat est.</p>
                <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed augue. Integer eu magna sit amet metus fermentum posuere. Morbi sit amet nulla sed dolor elementum imperdiet. Quisque fermentum. Cum sociis natoque penatibus et magnis xdis parturient montes, nascetur ridiculus mus. Pellentesque adipiscing eros ut libero. Ut condimentum mi vel tellus. Suspendisse laoreet. Fusce ut est sed dolor gravida convallis. Morbi vitae ante. Vivamus ultrices luctus nunc. Suspendisse et dolor. Etiam dignissim. Proin malesuada adipiscing lacus. Donec metus. Curabitur gravida</p>
            </div>
        </div>
    </div>
</main>
<footer class="footer pickl_footer_right">
    <div>
        <span class="text-muted">Controls.</span>
        <button type="button" class="btn btn-xs btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off">
            <div class="handle"></div>
        </button>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-3.2.1.slim.min.js" ></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/polyfill.min.js"></script>
<script src="js/bootstrap-vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/dashboard.js"></script>
</body>
</html>
